[Desktop Entry]
Type=Application
Name=OpenRocket
GenericName=Rocket Design and Simulation
Comment=Design and simulate model rockets
Icon=/usr/share/pixmaps/openrocket.xpm
Exec=/usr/bin/openrocket %f
Terminal=false
MimeType=text/plain;
Categories=Development;Science;Education;
